@charset 'UTF-8';

#grid, .cell {
}

#grid {
  border-width: 0 0 0 1px;
}

.row {
  display: block;
  margin: 0;
  height: 40px;
}

.row:first-child .cell {
  border-top-width: 1px;
}

.cell {
  display: inline-block;
  width: 40px;
  min-height: 40px;
  max-height: 40px;
  background-image: url(/assets/img/grid-sprites.png);
  background-repeat: no-repeat;
  background-position: 0 40px;
  padding: 0;
}

.cell:before, .cell:after {
  background-image: url(/assets/img/grid-sprites.png);
  background-repeat: no-repeat;
}

.cell.wall {
  background-position: 0 0;
}

.cell.finish {
  background-position: 0 -80px;
}

.cell.car, .cell.credit {
  position: relative;
}

.cell.car:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 0;
  z-index: 2;
}

.cell.car.u:before {
  background-position: 0 -120px;
}

.cell.car.r:before {
  background-position: 0 -160px;
}

.cell.car.d:before {
  background-position: 0 -200px;
}

.cell.car.l:before {
  background-position: 0 -240px;
}


.cell.credit:after {
  content: ' ';
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-position: 0 -40px;
  z-index: 1;
}
