@charset 'UTF-8';

/* Color scheme designer colors:
  #00649F
  #28414F
  #001E30
  #80D0FF R128 G208 B255
  #E6F6FF
 */

html, body {
  background: #E6F6FF;
  background-image: url(/assets/img/bg.png);
  background-repeat: repeat;
}


body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #151515;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jockey One", sans-serif;
  font-weight: normal;
}

header {
  background-color: #00649F;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #001E30;
  -webkit-box-shadow: inset 0 -1px 0   rgba(128, 208, 255, 0.4),
                            0  0   5px rgba(0, 0, 0, .4);
          box-shadow: inset 0 -1px 0   rgba(128, 208, 255, 0.4),
                            0  0   5px rgba(0, 0, 0, .4);
}

header h1 {
  font-size: 280%;
  color: #E6F6FF;
  line-height: 1;
  text-shadow:  1px  1px 0   #000,
               -1px  2px 0   rgba(128, 208, 255, 0.4);
}

header h1, header h2, header h3 {
  margin-bottom: 0;
  line-height: 1;
}

button {
  position: relative;
  font-family: "Jockey One", sans-serif;
  font-size: 105%;
  text-transform: uppercase;
  background: #00649F;
  border: none;
  color: #E6F6FF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .6);
  padding: 2px 8px;
  margin-right: 5px;
  cursor: pointer;
  -webkit-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
  -webkit-box-shadow: inset -1px -1px 0   rgba(255, 255, 255, .15),
                             0    2px 0   #00304D,
                             0    1px 3px rgba(0, 0, 0, .4);
          box-shadow: inset -1px -1px 0   rgba(255, 255, 255, .15),
                             0    2px 0   #00304D,
                             0    1px 3px rgba(0, 0, 0, .4);
}

button:hover {
  color: #FFF;
  background: #0079bf;
  -webkit-box-shadow: inset -1px -1px 0   rgba(255, 255, 255, .15),
                             0    2px 0   #003f66,
                             0    1px 3px rgba(0, 0, 0, .5);
          box-shadow: inset -1px -1px 0   rgba(255, 255, 255, .15),
                             0    2px 0   #003f66,
                             0    1px 3px rgba(0, 0, 0, .5);
}

button:active {
 top: 2px;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
 -webkit-box-shadow: inset -1px -1px  0       rgba(255, 255, 255, .15),
                     inset   0   0    0px 1px #004f80,
                             0   0px  0px     rgba(0, 0, 0, .7);
         box-shadow: inset -1px -1px  0       rgba(255, 255, 255, .15),
                     inset   0   0    0px 1px #004f80,
                             0   0px  0px     rgba(0, 0, 0, .7);
}

textarea {
  border: solid 1px #28414F;
  background-color: #cfdde5;
}


/* Flash notification messages */
.flashmsg {
  margin: 20px;
  padding: 10px 20px;
  border: solid 1px #404040;
  background-color: #FFF;
  color: #404040;
}

.flashmsg.notice {
  border-color: #002080;
  background-color: #CCD9FF;
  color: #001040;
}

.flashmsg.success {
  border-color: #008000;
  background-color: #CFC;
  color: #004000;
}

.flashmsg.warning {
  border-color: #806000;
  background-color: #FFF2CC;
  color: #403000;
}

.flashmsg.error {
  border-color: #800b00;
  background-color: #FFD0CC;
  color: #400500;
}

.flashmsg pre {
  display: block;
  font-family: 'Consolas', 'monaco', monospace;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  padding: 10px;
  color: #222;
}


#game-area, #program, #reference {
  margin: 20px 0 0 20px;
  float: left;
}

.gamestat  {
  font-size: 130%;
  float: right;
  margin-left: 20px;
}

.gamestat:first-child {
  float: left;
  margin-left: 0;
}

.gamestat span {
  font-weight: bold;
}


#program menu {
  display: block;
  margin-bottom: 20px;
  list-style-type: none;
}

#program menu li {
  display: inline;
}

#program menu#speed {
  display: none;
}

#program-input, #program-progress {
  border: solid 1px #4e7e99;
  background-color: #E6F6FF;
  width: 400px;
  min-height: 300px;
  color: #00304d;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
  font-family: 'Ubuntu Mono', 'Consolas', 'monaco', monospace;
  font-size: 18px;
  padding: 5px;
  line-height: 1.3;
  outline: none;
  -webkit-box-shadow: inset 0 -1px 0 rgba(128, 208, 255, 0.4);
          box-shadow: inset 0 -1px 0 rgba(128, 208, 255, 0.4);
}

#program-input:focus {
  border-color: #345466;
  outline: solid 1px #4e7e99;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .3);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, .3);
}

#program-progress {
  display: none;
}

#program-progress .line {
  padding: 0 10px;
  -webkit-transition: background 50ms linear;
     -moz-transition: background 50ms linear;
      -ms-transition: background 50ms linear;
       -o-transition: background 50ms linear;
          transition: background 50ms linear;
}

#program-progress .line.active {
  background-color: #00649F;
  color: #E6F6FF;
  box-shadow: inset 5px 0 0 #80D0FF;
}

#reference {
  max-width: 600px;
}

section {
  background-color: #b8cdd9;
  padding: 20px;
  border: solid 1px #98a9b3;
  border-width: 0 0 1px 0;
  -webkit-box-shadow: 1px 1px 2px  rgba(0, 0, 0, .2);
          box-shadow: 1px 1px 2px  rgba(0, 0, 0, .2);
}

section header {
  color: #FFF;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
  -webkit-box-shadow: inset -1px -1px 0 rgba(128, 208, 255, 0.4),
              0 0 5px rgba(0, 0, 0, .4);
          box-shadow: inset -1px -1px 0 rgba(128, 208, 255, 0.4),
                      0 0 5px rgba(0, 0, 0, .4);
}

section header h1 {
  font-size: 130%;
}



section > h1 {
  margin-bottom: 20px;
  font-size: 120%;
}

section h2, section p, section ul, section pre {
  margin-bottom: 20px;
}

section p, section li {
  line-height: 1.4;
}

section ul {
  margin-left: 40px;
}

section li {
  margin-bottom: 15px;
}

#reference code, #reference pre {
  background-color: #FFF;
  border: solid 1px #D0D0D0;
  padding: 3px;
  color: #444;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

#reference pre {
  display: block;
}

#reference pre code {
  background: none;
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
}

