@charset 'UTF-8';

html, body {
  background: #EEE;
}

body {
  font-family: 'Consolas', 'monaco', monospace;
  font-size: 18px;
  color: #151515;
}

header {
  background-color: #AAA;
  padding: 20px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 200%;
  color: #000;
}

#grid, #program {
  margin: 20px 0 0 20px;
  float: left;
}

#program menu {
  display: block;
  margin-bottom: 20px;
}



#program-input {
  width: 400px;
  height: 300px;
}

section h1 {
  margin-bottom: 20px;
  font-size: 120%;
}
